# The mongodb database to use
database: "red_development"
# The secret added to passwords
pepper: "12345"
# The secret for users from a legacy system
old_pepper: "54321"
# Amount of work needed to generate cryptographic hash; set to 1 when in test
stretches: 10
